extends layout

block content
    div.nav

        h1.
            Liste d'éditeurs
        span: a(href="dossiers") Nouveau dossier
    ul
        div
            table
                thead
                    tr
                        th Code permanent
                        th Nom
                        th Prénom
                        th Date naissance
                        th Lien
                tbody
                     for unEtudiant in etudiants
                         tr
                             td #{unEtudiant.codePermanent}
                             td #{unEtudiant.nom}
                             td #{unEtudiant.prenom}
                             td #{unEtudiant.dateNaissance}
                             td: a(href="consult?cp=#{unEtudiant.codePermanent}") lien
